<% if current_user.patient? && current_user.images.length < 3 %>
  <div class="p-5 bg-blue-300 text-blue-500 rounded-lg mt-2">
    You must upload more images before you can create appointments
  </div>
<% end %>