<div class="p-2 border-blue-500 bg-teal-500 mb-2 rounded-lg flex flex-col justify-center items-center">
  <%= image_tag "placeholder.jpeg", width: 100, class: "rounded-full" %>
  <div class="flex-none">
    <div>
      Doctor:
      <%= doctor.name %>
    </div>
    <div>
      Address:
      <%= doctor.address %>
    </div>

    <div>
      <%= link_to "Book appointment", "#", class: "bg-blue-300 text-white px-2 flex justify-center items-center border border-blue-500 rounded-lg"%>
    </div>
  </div>
</div>