<tr>
  <td>
    <% if current_user.patient? %>
      <%= appointment.doctor.name %>
    <% else %>
        <%= appointment.patient.name %>
    <% end %>
  </td>
  <td>
    <%= appointment.date %>
  </td>
  <td>
    <%= link_to "Delete", appointment_path(appointment), method: :delete, class: "bg-red-300 text-red-500 px-2 border border-red-500 rounded-lg"%>
  </td>
</tr>